body {
    font-family: 'Work Sans';
    display: flex;
    flex-direction: column;
}

font-face {
    font-family: 'Visby Round CF';
    src: local('Visby Round CF Demi Bold Oblique'), local('Visby-Round-CF-Demi-Bold-Oblique'),
        url('VisbyRoundCF-DemiBoldOblique.woff2') format('woff2'),
        url('VisbyRoundCF-DemiBoldOblique.woff') format('woff'),
        url('VisbyRoundCF-DemiBoldOblique.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.my-float{
	margin-top:16px;
}

#btn{  
    color: #ffffff;  
    background: #008000;  
    padding: 7px;  
    margin-left: 0%;  
}  

#bt{  
    color: #fff;  
    background: #337ab7;  
    padding: 7px;  
    /* margin-left: 0%;   */
}  

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

/* th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
} */
